<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.jooylife.meerkat.core.repository.mapper.KlineMapper">

    <update id="createTable" parameterType="string">
        CREATE TABLE IF NOT EXISTS `${tableName}` (
             `id` int unsigned NOT NULL AUTO_INCREMENT,
             `open_time` datetime NOT NULL,
             `open` decimal(20,8) NOT NULL,
             `high` decimal(20,8) NOT NULL,
             `low` decimal(20,8) NOT NULL,
             `close` decimal(20,8) NOT NULL,
             `volume` decimal(20,8) NOT NULL,
             `close_time` datetime NOT NULL,
             `qu_jote_asset_volume` decimal(20,8) NOT NULL,
             `number_of_trades` int NOT NULL,
             `taker_buy_base_asset_volume` decimal(20,8) NOT NULL,
             `taker_buy_quote_asset_volume` decimal(20,8) NOT NULL,
             `type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL,
             `update_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
             `create_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
             PRIMARY KEY (`id`),
             KEY `idx_close_time` (`close_time`) USING BTREE,
             KEY `idx_open_time` (`open_time`) USING BTREE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
    </update>

    <delete id="dropTable">
        DROP TABLE IF EXISTS `${tableName}`;
    </delete>
</mapper>
