<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.jooylife.meerkat.core.repository.mapper.SymbolMapper">

    <resultMap id="BaseResultMap" type="cc.jooylife.meerkat.core.repository.entity.Symbol">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="quoteAsset" column="quote_asset" jdbcType="VARCHAR"/>
            <result property="baseAsset" column="base_asset" jdbcType="VARCHAR"/>
            <result property="icebergAllowed" column="iceberg_allowed" jdbcType="TINYINT"/>
            <result property="ocoAllowed" column="oco_allowed" jdbcType="TINYINT"/>
            <result property="quoteOrderQtyMarketAllowed" column="quote_order_qty_market_allowed" jdbcType="TINYINT"/>
            <result property="spotTradingAllowed" column="spot_trading_allowed" jdbcType="TINYINT"/>
            <result property="cancelReplaceAllowed" column="cancel_replace_allowed" jdbcType="TINYINT"/>
            <result property="allowTrailingStop" column="allow_trailing_stop" jdbcType="TINYINT"/>
            <result property="marginTradingAllowed" column="margin_trading_allowed" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,quote_asset,
        base_asset,iceberg_allowed,oco_allowed,
        quote_order_qty_market_allowed,spot_trading_allowed,cancel_replace_allowed,
        allow_trailing_stop,margin_trading_allowed,status,
        create_date,update_date
    </sql>
</mapper>
