<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.jooylife.meerkat.core.repository.mapper.TradeRecordMapper">

    <resultMap id="BaseResultMap" type="cc.jooylife.meerkat.core.repository.entity.TradeRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="symbol" column="symbol" jdbcType="VARCHAR"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="orderDate" column="order_date" jdbcType="TIMESTAMP"/>
            <result property="orderPrice" column="order_price" jdbcType="DECIMAL"/>
            <result property="tradeDate" column="trade_date" jdbcType="TIMESTAMP"/>
            <result property="tradePrice" column="trade_price" jdbcType="DECIMAL"/>
            <result property="tradeQty" column="trade_qty" jdbcType="DECIMAL"/>
            <result property="tradeType" column="trade_type" jdbcType="VARCHAR"/>
            <result property="buyerMaker" column="buyer_maker" jdbcType="TINYINT"/>
            <result property="bestMatch" column="best_match" jdbcType="TINYINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,symbol,order_id,
        order_date,order_price,trade_date,
        trade_price,trade_qty,trade_type,
        buyer_maker,best_match,type,
        create_date,update_date
    </sql>

</mapper>
