<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.jooylife.meerkat.repository.mapper.KlineMapper">

    <resultMap id="BaseResultMap" type="cc.jooylife.meerkat.repository.Kline">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="openTime" column="open_time" jdbcType="TIMESTAMP"/>
            <result property="open" column="open" jdbcType="DECIMAL"/>
            <result property="high" column="high" jdbcType="DECIMAL"/>
            <result property="low" column="low" jdbcType="DECIMAL"/>
            <result property="close" column="close" jdbcType="DECIMAL"/>
            <result property="volume" column="volume" jdbcType="DECIMAL"/>
            <result property="closeTime" column="close_time" jdbcType="TIMESTAMP"/>
            <result property="quJoteAssetVolume" column="qu_jote_asset_volume" jdbcType="DECIMAL"/>
            <result property="numberOfTrades" column="number_of_trades" jdbcType="INTEGER"/>
            <result property="takerBuyBaseAssetVolume" column="taker_buy_base_asset_volume" jdbcType="DECIMAL"/>
            <result property="takerBuyQuoteAssetVolume" column="taker_buy_quote_asset_volume" jdbcType="DECIMAL"/>
            <result property="interval" column="interval" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,open_time,open,
        high,low,close,
        volume,close_time,qu_jote_asset_volume,
        number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,
        interval,create_date
    </sql>
</mapper>
